In [3]:
# Workshop 1. 1
scores = [80, 55, 90, 75, 60]
first_two_scores = scores[0:2]
last_score = [scores[-1]]
print(first_two_scores, last_score)

[80, 55] [60]

In [4]:
# Workshop 1. 2
ids = [101, 102, 103, 104, 105, 106]
reversed_ids = ids[::-1]
result = reversed_ids[::2]
print(result)

[106, 104, 102]

In [5]:
# Workshop 1. 3
data = [10, 20, 99, 99, 99, 60, 70]
data[2:5] = [0]
print(data)

[10, 20, 0, 60, 70]

In [6]:
# Workshop  2. 1
student = ("Somchai", "Engineering", 3.75)
name, dept, gpa = student
print(f"Name: {name}, Dept: {dept}, GPA: {gpa}")

Name: Somchai, Dept: Engineering, GPA: 3.75

In [7]:
# Workshop  2. 2
def get_stats(numbers):
    return min(numbers), max(numbers)
numbers = [3, 1, 5, 4, 2]
min_val, max_val = get_stats(numbers)
print(f"Min: {min_val}, Max: {max_val}")

Min: 1, Max: 5

In [8]:
# Workshop 2. 3
scores = [10, 20, 30, 40, 50, 60]
low, *others, high = scores
print(f"Low: {low}, High: {high}, Others: {others}")

Low: 10, High: 60, Others: [20, 30, 40, 50]

In [10]:
# Workshop 3. 1
inventory = {'apple': 10, 'banana': 20}
def check_quantity(item_name):
    return inventory.get(item_name, 0)
print(f"Check Durian: {check_quantity('durian')}")

Check Durian: 0

In [12]:
# Workshop 3. 2
inventory = {'apple': 10, 'banana': 20}
def add_stock(item, quantity):
    current_quantity = inventory.get(item, 0)
    new_quantity = current_quantity + quantity
    inventory[item] = new_quantity
add_stock('apple', 5)
add_stock('orange', 10)
print(inventory)

{'apple': 15, 'banana': 20, 'orange': 10}

In [14]:
# Workshop 3. 3
inventory = {'apple': 10, 'banana': 20}
branch2 = {'banana': 5, 'orange': 10}
for item, quantity in branch2.items():
    current_stock = inventory.get(item, 0)
    inventory[item] = current_stock + quantity
print(inventory)

{'apple': 10, 'banana': 25, 'orange': 10}

In [15]:
# Workshop 4. 1
visitors = ['user1', 'user2', 'user1', 'user3', 'user2']
unique_visitors = set(visitors)
unique_count = len(unique_visitors)
print(f"Unique Count: {unique_count}")

Unique Count: 3

In [16]:
# Workshop 4. 2
group_A = {'Reading', 'Coding', 'Gaming'}
group_B = {'Coding', 'Traveling', 'Gaming'}
common_interests = group_A & group_B
print(f"Common: {common_interests}")

Common: {'Coding', 'Gaming'}

In [17]:
# Workshop 4. 3
group_A = {'Reading', 'Coding', 'Gaming'}
group_B = {'Coding', 'Traveling', 'Gaming'}
only_A = group_A - group_B
diff = group_A ^ group_B
print(f"Only A: {only_A}")
print(f"Diff: {diff}")

Only A: {'Reading'}
Diff: {'Traveling', 'Reading'}

In [18]:
# Workshop 5. 1
names = ["alice", "bob", "charlie"]
upper_names = [n.upper() for n in names]
print(f"Upper: {upper_names}")

Upper: ['ALICE', 'BOB', 'CHARLIE']

In [19]:
# Workshop 5. 2
prices = [100, 250, 80, 500, 120]
VAT_RATE = 1.07
vat_prices = [p * VAT_RATE for p in prices if p > 200]
print(f"VAT Prices: {vat_prices}")

VAT Prices: [267.5, 535.0]

In [20]:
# Workshop 5 .3
currencies = {'USD': 35, 'EUR': 38, 'JPY': 0.25}
inverted_currencies = {value: key for key, value in currencies.items() if value > 1}
print(f"Inverted: {inverted_currencies}")

Inverted: {35: 'USD', 38: 'EUR'}

In [21]:
# Workshop 6. 1
from collections import Counter
text = "apple banana apple orange banana apple"
words = text.split()
word_counts = Counter(words)
top_word = word_counts.most_common(1)
print(top_word)

[('apple', 3)]

In [22]:
# Workshop 6. 2
from collections import defaultdict
names = ["Alice", "Bob", "Charlie", "David", "Eve"]
grouped_by_length = defaultdict(list)
for name in names:
    length = len(name)
    grouped_by_length[length].append(name)
print(dict(grouped_by_length))

{5: ['Alice', 'David'], 3: ['Bob', 'Eve'], 7: ['Charlie']}

In [23]:
# Workshop 6. 3
from collections import deque
recent_logs = deque(maxlen=3)
log_messages = ['Log1', 'Log2', 'Log3', 'Log4', 'Log5']
for log in log_messages:
    recent_logs.append(log)
print(list(recent_logs))

['Log3', 'Log4', 'Log5']