In [ ]:
# Workshop 5. 1
names = ["alice", "bob", "charlie"]
upper_names = [n.upper() for n in names]
print(f"Upper: {upper_names}")

In [ ]:
# Workshop 5. 2
prices = [100, 250, 80, 500, 120]
VAT_RATE = 1.07
vat_prices = [p * VAT_RATE for p in prices if p > 200]
print(f"VAT Prices: {vat_prices}")

In [ ]:
# Workshop 5 .3
currencies = {'USD': 35, 'EUR': 38, 'JPY': 0.25}
inverted_currencies = {value: key for key, value in currencies.items() if value > 1}
print(f"Inverted: {inverted_currencies}")