In [1]:
names = ["alice","bob","charlie"]

In [13]:
upper = [word.upper() for word in names]
print(f"Upper: {upper}")

Upper: ['ALICE', 'BOB', 'CHARLIE']

In [10]:
prices = [100,250,80,500,120]

In [15]:
plus_vat = [x for x in prices if x > 200]
vat = [v * 1.07 for v in plus_vat ]
print(f"VAT Prices: {vat}")

VAT Prices: [267.5, 535.0]

In [ ]:
currencies = {'USD': 35, 'EUR':38,'JPY':0.25}
inverted = {v:k for k,v in currencies.items() if v > 1}
print(inverted)

{35: 'USD', 38: 'EUR'}